* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: rgb(202, 201, 201);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

main {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    display: flex;
    flex-direction: column;
}

.result-container{
    font-size: 1.5rem;
    margin-bottom: 3px;
}
.result-container .result{
    color:red;
}

main section input,
main section fieldset {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(202, 201, 201);

}

main section input,
main section fieldset,
main section label {
    user-select: none;
    font-size: 1.0rem;
}

main section fieldset {
    display: flex;
    flex-direction: column;
}

main section button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(202, 201, 201);
    cursor: pointer;
    font-size: 1.0rem;
    font-weight: bold;
    transition: 0.3s;
}

main section button:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* media */
@media screen and (min-width: 500px) {
    main secton {
        width: 100%
    }
}

@media screen and (min-width: 700px) {
    main section {
        width: 20%
    }
}